body {
    background-color: azure;
}

.name-container {
    text-align: center;
}

.card-container {
    display: flex;
    margin-top: 7vh;
    padding: 10px;
    height: 550px;
    background-color: grey;
    justify-content: space-between;
    border: 3px solid black;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    justify-content: center;
}

table {
    background-color: black;
    border-collapse: collapse;
    width: 50%;
}

tr {
    background-color: grey;
}

td {
    background-color: darkgrey;
}

td, th {
    padding: 8px;
    text-align: left;
}

.form-container {
    display: flex;
    justify-content: left;
    margin-top: 3vh;
}